/* id 
    tag
    class
*/
div{
    background-color: grey;
    font-size: 30px;
    text-align: center;
    width: 70%;
    border: 1px solid green;
}


/* priority>
inline css
internal css
external
*/